body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tituloLote{
    margin-left: 20px;
    font-size: 50px;
}
.btnVoltar{
    width: fit-content;
    display: flex;
    cursor: pointer;
    transition: 0.2s;
}

.btnVoltar:hover{
    transform: scale(1.01);
}
.kpis{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.kpi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background-color: #172556;
    color: white;
    padding: 10px;
    align-items: center;
    width: 250px;
}

.cards-lotes{
    display: grid;
    grid-template-columns: 150px 200px 250px 60px 200px 100px 100px;    
}

.processos{
    font-size: 10px;
}

.tituloKPI{
    font-size: 12px;
}

.colour-ball{
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    width: 70PX ;
    border-radius: 100%;
    border: 3px solid;
}
.valor{
font-size: 20px;
}
.alerta{
    display: flex;
}

.ladinho{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.card{
    align-self: center;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    height: fit-content;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.342) 10px 10px 30px;
}
.titulo{
    font-size: 50px;
}
.bolinha{
    background-color: red;
    border-radius: 100%;
    width: 35px;
    height: 35px;

}
.chart{
    width: 100px;
    height: 100px;
}
canvas{
    width: 50px;
}
.graficos{
    border-radius: 10px;
background:whitesmoke;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.container-graficos{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 70%;
    margin: 30px 50px;
    border-radius:12px; padding:20px;
    width: 30vw;
    height:500px;
    
}