.tituloLote{
    margin-left: 20px;
    font-size: 50px;
}
.kpis{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.kpi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background-color: #172556;
    color: white;
    padding: 10px;
    align-items: center;
    width: 250px;
}

.cards-lotes{
    display: grid;
    grid-template-columns: 350px 350px 100px 100px;    
}

.processos{
    font-size: 10px;
}

.tituloKPI{
    font-size: 12px;
}

.colour-ball{
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    width: 70PX ;
    border-radius: 100%;
    border: 2px solid;
}
.valor{
font-size: 20px;
}
.alerta{
    display: flex;
}

.ladinho{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.card{
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    height: fit-content;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.342) 10px 10px 30px;
}
.titulo{
    font-size: 50px;
}

.chart-container {
    width: 60vh;
    height: 30vh;
    padding: 2vh;
    background-color: #F7F8FC;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.589);
    display: none;
    margin-bottom: 1vh;
    margin-top: 2vh;
}

.chart-container2 {
    width: 60vh;
    height: 30vh;
    padding: 2vh;
    background-color: #F7F8FC;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.589);
    margin-top: 4vh;
}

.carrossel {
    display: flex;
    gap: 1vh;
    align-items: center;
}

.carrossel-btn {
    font-size: 3vh;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.titulo {
    border: 2px black solid;
    background-color: white;
    width: 10vh;
    font-size: 2.5vh;
    font-weight: bold;
}

.grafico {
    background-color: white;
    width: 65vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.589);
}