.tituloLote {
  margin-left: 20px;
  font-size: 50px;
}

.btnVoltar {
  width: fit-content;
  display: flex;
  cursor: pointer;
  transition: 0.2s;
}

.btnVoltar:hover {
  transform: scale(1.01);
}

.kpis {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.kpi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background-color: #172556;
  color: white;
  padding: 10px;
  align-items: center;
  width: 250px;
}
.cabecalho{
  display: grid;
  grid-template-columns: 170px 80px 100px 100px 100px 250px 100px;
}

.cards-lotes {
  display: grid;
  grid-template-columns: 150px 200px 150px 50px 320px 100px 100px;
  align-items: center;
}

.cards-modelos {
  display: grid;
  grid-template-columns: 150px 200px 170px 100px 200px 100px 100px;
}

.processos {
  font-size: 10px;
}

.tituloKPI {
  font-size: 12px;
}

.colour-ball {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: center;
  width: 70px;
  border-radius: 100%;
  border: 3px solid;
}

.valor {
  font-size: 20px;
}

.alerta {
  display: flex;
}

.ladinho {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.card {
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
  height: fit-content;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.342) 10px 10px 30px;
}

.titulo {
  font-size: 50px;
}

.bolinha {
  background-color: red;
  border-radius: 100%;
  margin-top: 2.5px;
  width: 12px;
  height: 12px;
}

.chart {
  width: 100px;
  height: 100px;
}

.graficos {
  display: flex;
  margin-top: 5vh;
  height: fit-content;
  gap: 10vh;
  align-items: center;
  justify-content: center;
}

.container-grafico {
    width: 70vh;
    height: 40vh;
    padding: 2vh;
    background-color: #F7F8FC;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.589);
    margin-bottom: 1vh;
    margin-top: 2vh;
}