*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    border-bottom: 2px solid #00000080;
}

.footer{
    border-top: 2px solid #00000080;
}

.cabecalho{
    color: #002B50;
}

.contato li{
    padding: 5px;
}

.redes-sociais li{
    padding: 10px;
}

#fundo-aboutus
{
    background-image: url(../assets/img/servidor.jpg);
    object-fit: cover;
}

#fotoUsuario
{
    background-image: url(../assets/img/gato.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*Foto gabi (mudar no assets/img/{nomedafoto})*/
#foto1
{
    background-image: url(../assets/img/gaby.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 200px;
    
}

/*Foto Gustavo(mudar no assets/img/{nomedafoto})*/
#foto2
{
    background-image: url(../assets/img/foto-Muniz.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 200px;
}
/*Foto Isaak(mudar no assets/img/{nomedafoto})*/
#foto3
{
    background-image: url(../assets/img/isaak.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 200px;
}
/*Foto Lucas Pereira(mudar no assets/img/{nomedafoto})*/
#foto4
{
    background-image: url(../assets/img/foto-amorim.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 200px;
}
/*Foto Lucas Rocha (mudar no assets/img/{nomedafoto})*/
#foto5
{
    background-image: url(../assets/img/rocha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 200px;
}
/*Foto Nicolas (mudar no assets/img/{nomedafoto})*/
#foto6
{
    background-image: url(../assets/img/nicolas.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 200px;
}

#logo
{
    background-image: url(../assets/navix-logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 90px;
    height: 90px;
}