body {
    background-color: white;
}
.alertas{
    flex-direction: column;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    border-bottom: 2px solid #00000080;
}

.cabecalho{
    color: #002B50;
}


header img.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

header nav a {
    color: #0d2b4d;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
}

header .perfil-icone {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0d2b4d;
}

.footer{
    border-top: 2px solid #00000080;
}

.cabecalho{
    color: #002B50;
}

.contato li{
    padding: 5px;
}

.redes-sociais li{
    padding: 10px;
}