/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: white;
}

/* Barra superior */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

header nav a {
    color: #0d2b4d;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
}

header .perfil-icone {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0d2b4d;
}

/* Card de atualização */
.card {
    background-color: #E1E7EC;
    width: 350px;
    height: 350px;
    margin: 80px auto;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.card h2 {
    color: #002B50;
    font-size: 20px;
    margin-bottom: 5px;
}

.card .alterar-foto {
    font-size: 14px;
    color: #002B50;
    cursor: pointer;
}

.card .foto-perfil {
    background-color: #002B50;
    color: white;
    width: 50px;
    height: 50px;
    margin: 10px auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/* Campos de entrada */
.card input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 3px;
    border: 1px solid #ccc;
}

/* Botão */
.card .buttonAtt{
    width: 100%;
    padding: 10px;
    background-color: #002B50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}
.card .buttonDel{
     width: 100%;
    padding: 10px;
    background-color: #AE2C2C;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.card button:hover {
    background-color: #002B50;
}

.botao{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.footer{
    border-top: 2px solid #00000080;
}

.cabecalho{
    color: #002B50;
}

.contato li{
    padding: 5px;
}

.redes-sociais li{
    padding: 10px;
}